<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862115994243-3o2ib20oq2d8eogupo4qqb6jju23ohud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862115994243-3o2ib20oq2d8eogupo4qqb6jju23ohud</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>862115994243-vnmivdsgkv2jjd38hq7o08iqp7ptcd22.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCkeAe-srhscvWmUGxLgBS_wmiK8KMt_9c</string>
	<key>GCM_SENDER_ID</key>
	<string>862115994243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rccgApp</string>
	<key>PROJECT_ID</key>
	<string>rccg-app-f7633</string>
	<key>STORAGE_BUCKET</key>
	<string>rccg-app-f7633.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862115994243:ios:d30a0dde0ff3ff042f99b6</string>
</dict>
</plist>